*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.inputs {
    /* position: relative; */
    display: flex;
    align-items: center;
    align-content: center;
    height: 100vh;    
}
.form-1 {
    /* position: absolute;
    top: 20%;
    left: 30%; */
    /* margin: 3rem; */
    width: 600px;
    height: 100px;
    padding: 0px;
}